<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="false"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="archetypeGroupId=ar.edu.unlp.info.oo2"/>
        <listEntry value="archetypeArtifactId=objetos-dos"/>
        <listEntry value="archetypeVersion=0.0.2"/>
        <listEntry value="groupId=ar.edu.unlp.info.oo2"/>
        <listEntry value="artifactId=e2-PPTijera"/>
        <listEntry value="version=0.0.1-SNAPSHOT"/>
        <listEntry value="package=ar.edu.unlp.info.oo2.e2_PPTijera"/>
        <listEntry value="outputDirectory=C:\Users\Mateo\Documents\1 uni\2024\cuatri1\oo2"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\Mateo\AppData\Local\Temp\m2e-archetypeGenerator1117671752706971809"/>
</launchConfiguration>
